center section.nav{
    background-color: white;
    position: relative;
    float: right;
    width: 150px;
    top: -100px;
}
button {
    padding: 10px;
    border: 5px whitesmoke;
    border-radius: 25px;
}
    button:hover#ingreso {
            background-color:#7ed957;
            color:white;
            border-radius: 15px;
        }
            button:hover#registra {
                background-color:#ff5757;
                color:white;
                border-radius: 15px;
            }
                button:hover#button {
                    background-color:#f79426;
                    color:white;
                    border-radius: 15px;
                }
div.info1 {
    margin-left: 150px;
    background-color:#f7962644;
    width: 500px;
    padding: 15px 15px 25px 15px;
    text-align: center;
    font-size: 20px;
    box-shadow: 1px 1px 15px #f79426;
    border-radius: 30px;
}
div.info2 {
    margin-left: 700px;
    background-color:#f7962644;
    width: 500px;
    padding: 15px 15px 25px 15px;
    text-align: center;
    font-size: 20px;
    box-shadow: 1px 1px 15px #f79426;
    border-radius: 30px;
}
section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer.footer {
    background-color: #f7962644;
    width: auto;
    box-shadow: 1px 1px 15px #f79426;
    display:flex;
    align-items:center;
    padding: 0px 0px 0px 400px;}