html {
    margin: 10px 5px 5px 5px;
}
body{
    background-color: white;
    background-size: cover;
    height: 100vh;
    font-family: cursive, Geneva, Tahoma, sans-serif;
}
h2 {
    background-color:#f7962644;
    font-size: 20px;
    box-shadow: 1px 1px 15px #f79426;
}
center div.nav{
    position: relative;
    float: right;
    top: -100px;
}
button {
    padding: 10px;
    border: 5px whitesmoke;
    border-radius: 25px;
}
    button:hover#ingreso {
            background-color:#7ed957;
            color:white;
            border-radius: 15px;
        }
            button:hover#registra {
                background-color:#ff5757;
                color:white;
                border-radius: 15px;
            }
                button:hover#nosotros {
                    background-color:#f79426;
                    color:white;
                    border-radius: 15px;
                }
                    button:hover#playstore {
                        background-color:#38b6ff77;
                        color:white;
                        border-radius: 15px;}
div.lineaTiempo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
div.info1 {
    background-color:#f7962644;
    width: 1300px;
    padding: 15px 15px 25px 15px;
    font-size: 20px;
    box-shadow: 1px 1px 15px #f79426;}
        div.info1 #titulo {
        color:#371111;
        text-align: center;}
            div.info1 img { 
                padding: 0px 30px 0px 0px;
                float: left;}
div.info2 {
    background-color:#f7962644;
    width: 360px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    border-radius: 30px;
    box-shadow: 1px 1px 15px #f79426;}
    div.info2 #titulo {
        color:#371111;}
        div.info2 img {
            float: left;
            padding: 5px}
            div.info2 #descrip {
                    width: auto;
                    color:#371111;
                    text-align: center;
                    font-size: 18px;
                    padding: 20px;}
div.info3 {
    background-color:#f7962644;
    width: 360px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    box-shadow: 1px 1px 15px #f79426;}
    div.info3 #titulo {
        color:#371111;}
        div.info3 img {
            padding: 5px ; 
            float: left;}
            div.info3 #descrip {
                    width: auto;
                    color:#371111;
                    text-align: center;
                    font-size: 18px;
                    padding: 20px;}
div.info4 {
    background-color: #f7962644;
    width: 360px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    box-shadow: 1px 1px 15px #f79426;}
    div.info4 #titulo {
        color:#371111;}
        div.info4 img {
            padding: 5px ; 
            float: right;}
            div.info4 #descrip {
                    width: auto;
                    color:#371111;
                    text-align: center;
                    font-size: 16px;
                    padding: 10px;}
footer.footer {
    background-color: #f7962644;
    width: auto;
    box-shadow: 1px 1px 15px #f79426;
    display:flex;
    align-items:center;
    padding: 0px 0px 0px 400px;}