body{
    font-family: cursive, Geneva, Tahoma, sans-serif;
}
h1 {
    display: block;
    margin: auto;
    background-color: #f7962644;
    box-shadow: 1px 1px 15px #f79426;
    width: 650px;
    text-align: center;
    font-size: 60px;
    color:#371111;
    padding: 10px 10px 10px 10px;
}
p {
    display: block;
    margin: auto;
    background-color: #f7962644;
    box-shadow: 1px 1px 15px #f79426;
    width: auto;
    padding: 5px 5px 5px 5px;
    text-align: center;
    font-size: 36px;
    color: #371111;
}